[2015-03-24 05:14] BillMills opened #1 "Hacky Hour, January 1"
We're having a hacky hour at Tharsis pub on new year's day. See you there!

[2015-03-24 05:15] BillMills opened #2 "Study Group Meeting"
Study Group Meetup, Lunae Palus Hall, 15 December 2015

[2015-03-24 05:16] BillMills opened #3 "another study group meeting"
at this time and this date; see you there!

[2015-03-24 05:17] BillMills opened #4 "hacky hour!!1!!"
see you there :D

[2015-03-24 20:30] #1 closed

[2015-03-24 20:30] #2 closed

[2015-03-24 20:30] #3 closed

[2015-03-24 20:30] #4 closed

[2015-03-24 20:30] BillMills opened #5 "help request with a coding problem"
I'm stuck :(

[2015-03-24 20:30] katieannemills commented on #5
super helpful response and conversation here

[2015-03-27 20:52] #5 closed

[2015-04-13 03:07] aammd opened #6 "R practice session -- 2:30pm 15 April -- BRC 224"

[2015-04-13 03:11] #6 closed

[2015-04-27 21:28] RaoOfPhysics opened #7 "Delete `master` branch?"
Best not to confuse new users by including branches that aren't used. :)

[2015-04-28 00:34] katieannemills commented on #7
good call - deleted.

[2015-04-28 00:34] #7 closed

[2015-04-28 15:50] RaoOfPhysics opened #8 "studyGroup pages breaking with "HTTPS Everywhere""
… which is understandable (and I chose to show "non-secure" content), but is there a way to prevent this from happening?

I've tentatively disabled `HTTPS Everywhere` on Firefox for GitHub Pages.

[2015-05-12 06:37] sudheesh001 opened #9 "img/portfolio/{{post.img}} throws 404 error"
On the home page, there's no content present in the `{{post.img}}`
[code]
The `<img src="img/portfolio/" class="img-responsive img-centered" alt="">`

Error thrown:
`GET http://mozillascience.github.io/studyGroup/img/portfolio/ 404 (Not Found)                mozillascience.github.io/:212 `

Link to reproduce error: `http://mozillascience.github.io/studyGroup/`
Best way to avoid this is to make sur

[2015-05-13 16:41] #9 closed

[2015-05-13 16:45] katieannemills commented on #9
Great catch @hemanth & @sudheesh001 - now that you point it out, the whole `modals` bit is actually a leftover from the original template, we can pull it out altogether; but this patch makes things tighter if we ever decide to use it again, thanks!

[2015-05-13 17:36] hemanth commented on #9
:+1:

[2015-05-13 17:43] hemanth opened #11 "URL redirections."
I feel `/studyGroup` and `/studygroup` must land to the same page, as of now only the former one is active, the later on throws a 404.

According to the RFC: **Users should always consider that URLs are case-sensitive.**

So we must consider redirection.

//cc @BillMills

[2015-05-13 19:30] sudheesh001 commented on #11
I personally agree with this, The first time i tried to hit the `/studygroup` instead of the `/studyGroup`, cursed myself for the case sensitivity. :smiley:

[2015-05-14 04:58] katieannemills commented on #11
yep, I also agree - but there's no way (that I know of) to serve something at `whoever.github.io/studygroup` to trigger a redirect to the correct url. Would love a PR showing me how it's done :)

[2015-05-14 05:47] hemanth commented on #11
There is not `.htaccess` here but we can give [this](https://help.github.com/articles/redirects-on-github-pages/) a try...

[2015-05-17 23:44] katieannemills commented on #11
@hemanth I played around with that at first; maybe it's just me, but I couldn't figure out how to get this to redirect to/from something that doesn't share the same base URL (`whoever.github.io/studyGroup`) - I'd be delighted to be proven wrong though!

[2015-05-18 05:39] hemanth commented on #11
Was hoping [this](https://github.com/hemanth/studyGroup/commit/48485a219836cccfc3afca1425fbe6db80105828) would work, but no...

[2015-05-19 21:59] katieannemills commented on #11
@hemanth cool, thanks for checking that out - I think the issue there is the [prefix](https://github.com/jekyll/jekyll-redirect-from#prefix) - what you have is redirecting from `mozillascience.github.io/studyGroup/studygroup` as far as I understand it.

[2015-06-12 17:04] #8 closed

[2015-06-16 04:21] ttimbers opened #14 "Readme.md clarifications"
When I followed the `Readme.md` to setup a new event I encountered a couple small issues:

1. When I tried to follow the instructions "Click on 'Issues' over on the right sidebar of your repo", I couldn't find "Issues" in the sidebar right away. I had to click "Settings" and then select "Issues" under "Features" to be able to see "Issues" in the sidebar. Only then could I click Issues to create a

[2015-06-16 05:00] ttimbers commented on #14
Point #2 above could also be due to hard wrapping the text after `location:` as I normally do in an `.md` file to make it easier to read...

[2015-06-16 17:54] katieannemills commented on #14
cool, thanks for the feedback! I've added a 'gotchas' section to the setup instructions, that point out the speedbumps people have had. Hopefully that gets people unstuck!

[2015-06-16 17:54] #14 closed

[2015-06-23 05:25] SOFTowaha opened #15 "Types of Event"
Hello people!

Can you give me some event ideas?

Thanks
Towaha

[2015-06-24 03:42] katieannemills commented on #15
Hi @SOFTowaha,

Sure! Check out the chapter on [event ideas](http://mozillascience.github.io/studyGroupHandbook/events.html) in the handbook; or, if you'd like something more specific, check out the events from [UBC](https://github.com/minisciencegirl/studyGroup/issues?q=label%3Aevent+is%3Aclosed), [SFU](https://github.com/ttimbers/studyGroup/issues), and [Toronto](https://github.com/UofTCoders/st

[2015-06-28 14:26] SOFTowaha commented on #15
Thank you @BillMills !

[2015-06-29 21:26] #15 closed

[2015-07-01 15:51] BillMills opened #16 "Open Data at Study Groups"
Hey everyone,

Over the next little while, I'd love to get everyone's help designing some Study Group activities on the topic of open data. How can data sharing be introduced to your Study Group in a way your colleagues will find interesting and useful? Post ideas on this thread!

It'd be awesome if each of the Study Groups tried to throw an open data session this summer. Anything you want to try

[2015-07-14 01:02] QuLogic commented on #11
Using `redirect_from` would not work as it specifies redirects on the _target_, but still has to create the _source_ URL and `/studygroup` is a _completely different repository_.

Theoretically, you could create a second repository and fill in the file that `redirect_from` would normally create. Unfortunately, while the URL is case-sensitive, GitHub does not allow creating a second repository that

[2015-07-16 03:08] BillMills opened #19 "mobile response"
see @radaniba's [issue](https://github.com/minisciencegirl/studyGroup/issues/45) in the UBC chapter.

[2015-07-16 23:18] radaniba commented on #11
Try this

https://github.com/jekyll/jekyll-redirect-from

[2015-07-16 23:29] QuLogic commented on #11
I _just_ explained why that wouldn't work.

[2015-07-16 23:38] radaniba commented on #11
oops my bad !

[2015-07-19 17:31] katieannemills commented on #11
@QuLogic - thanks for digging into what's going on here! I think your assessment is correct - but, please avoid shooting down the ideas of others as above; I really appreciate you trying to help us get to a good solution, but I want everyone to feel comfortable trying things and offering suggestions - that's how the learning happens :) Trust that your mod will know what ideas will and won't work,

[2015-07-19 18:07] BillMills opened #20 "Google Calendar event management?"
The SFU and Toronto groups have been contemplating using google calendars to help manage events. This feature could be pulled upstream, but first let's pull all the ongoing discussion threads together.

 - @brunogrande patched the website to include a google calendar [here](https://github.com/ttimbers/studyGroup/commit/132ab333fd9e670178767eb8f9fa9c613bbb69a3) - we'll pull this upstream as part of

[2015-07-20 06:52] hemanth commented on #11
:+1: Did any inform the high command about this? :wink:

[2015-07-20 15:44] katieannemills commented on #11
I fired them a support request - I'll let you know if that goes anywhere, and I'll ask my GitHub people next time I see them!

[2015-07-28 19:29] katieannemills commented on #20
If there are no comments or problems, I'm going to go ahead and promote this feature to the main template this week(ish). @theavanrossum, is that script for managing calendars available for sharing? Would love a pull request against the [upstream repo](https://github.com/mozillascience/studyGroup) to include that script & show who wrote it in the commit history. Thanks, all!

[2015-07-28 20:37] theavanrossum commented on #20
Just finishing up the script improvements now.
Available here:
https://github.com/ttimbers/studyGroup/blob/gh-pages/createEventsFromPosts_clearCalendarFirst.py

A few fixes:
- I have default start and end times hard coded in the script, but these are overridden if "startTime" or "endTime" are in the _post file
- the script now deletes all calendar posts before creating new ones

Still to do:
- Sho

[2015-07-28 20:46] katieannemills commented on #20
works great for me, thanks for this! I'm going to merge this in as is, and add the start and end time metadata you recommend. Thanks!

[2015-08-04 22:56] katieannemills commented on #20
Alright - this feature merged to gh-pages. Great work everyone, and open an issue if you'd like me to PR you the commits necessary to add this feature to your Study Group. Thanks all!

[2015-08-04 22:56] #20 closed

[2015-08-05 19:58] mbonsma opened #24 "Can we have a calendar?"
The UofT Study Group would love the calendar feature.

[2015-08-05 20:11] katieannemills commented on #24
You bet - ETA later today.

[2015-08-05 22:20] katieannemills commented on #24
open in https://github.com/UofTCoders/studyGroup/pull/34 - let me know how it goes!

[2015-08-05 22:20] #24 closed

[2015-08-05 22:28] BillMills opened #25 "Mozilla Study Groups August Update"
### Welcome New Study Groups

Two new Study Groups got started in the last month - one at the [University of Minnesota](http://schae234.github.io/studyGroup/), and the [Open Desk Study Group](http://nifrasismail.github.io/studyGroup/) at the University of Jaffna. Welcome aboard both!

As always, check out all the Study Groups worldwide on the [Study Group Map](https://github.com/mozillascience/stu

[2015-08-06 07:20] nifrasismail opened #26 "Add Google Calander"
Hi there, Please add google calander to our study group https://github.com/nifrasismail/studyGroup

[2015-08-07 01:23] katieannemills commented on #26
Open in your repo - let me know any questions there!

[2015-08-07 01:23] #26 closed

[2015-08-11 14:41] tomhohenstein opened #27 "Let's see that calendar code!"

[2015-08-14 22:02] katieannemills commented on #27
PR open in https://github.com/tomhohenstein/studyGroup/pull/2

[2015-08-14 22:02] #27 closed

[2015-09-01 19:50] BillMills opened #29 "Mozilla Study Groups September Update"
## Welcome New Study Groups

Welcome to our newest Study Groups in [Otago, New Zealand](http://smilefreak.github.io/studyGroup/) and [North West University, South Africa](http://anelda.github.io/GenomicsHackyHour/)! More Study Groups are spooling up around the world; we'll note them here and add them to the [Study Group Map](https://github.com/mozillascience/studyGroupLessons/blob/master/whereWeAr

[2015-09-01 19:51] #25 closed

[2015-09-15 15:12] schae234 opened #31 "Target Audience?"
Hi all!

Poll time! :tada:

I was wondering who everyones audiences were in your own respective study groups? I ask this because I feel (in our own group) we have a competing interest for building community vs reaching new audiences.

In organizing meet ups for our own study group, I have tried to allow group input on how we should spend our meeting time together. My goal here is to primarily orga

[2015-09-15 16:36] noamross commented on #31
Davis R Users Group:
-  Beginner and intermediate users, campus-wide, primarily graduate students and postdocs in the biological and social sciences
-  Meet once per week, 2 hour sessions
-  Every other week there's a 1 hour presentation.  Rest of time is co-working / one-on-one help.
  -   Probably only ~5 people are there every week, 20-25 are people who come about once per month and then others

[2015-09-15 17:57] tomhohenstein commented on #31
Great question! And I look forward to hearing everyone's response.

We are just getting going here at BU. Our first session is this week, which is a hacky hour with the goal of generating lesson ideas / meeting times. I've spent most of my initial efforts finding as many grad list-servs as possible and reaching out to student groups - like SAGE, WISE, and the Graduate Government. You might try con

[2015-09-15 19:11] schae234 commented on #31
@noamross, Excellent! :+1: How many presenters do you have? Do you cycle through? Are the topics following some sort of pattern or are they chosen each time?

We have a similar group that is part tutorial and part one-on-one sessions. They meet and follow chapters in the book [Bioinformatics Data Skills](http://shop.oreilly.com/product/0636920030157.do) by your very own Vince Buffalo (also at UC D

[2015-09-15 21:29] noamross commented on #31
We have 1 presenter every other week, though 2 people have presented together a couple of times.  I poll people on topics they are interested in at the beginning of the quarter, than ask who can teach the topics.  But really there's no plan: you're at the mercy the presenter's schedules and interests.  You can see a collection of talks we've had [here](http://www.noamross.net/davis-r-users-group.h

[2015-09-16 07:54] blahah opened #32 "License for code of conduct?"
I see that the repo in general is Apache2 licensed. I'm wondering whether this applies to text-only parts of the repo, like the code of conduct? I ask because it's unusual to apply a code-specific license like Apache to text, when more specific licenses (i.e. Creative Commons ones) exist.

[2015-09-16 17:40] katieannemills commented on #32
Hm - that got inherited from the jekyll template, not intended to apply to the rest of the content. The MSL code of conduct is cc-by (or 0, I forget) in its original incarnation on their website.

[2015-09-25 15:13] mbonsma commented on #31
**UofT Scientific Coders (started June 2015):**

Our group is set up to cater to as broad an audience as possible. We don't focus on one particular language or even on programming only: we also talk about general best practices for research (i.e. version control, academic writing, reproducibility).
- Who comes: graduate students from across campus, a few postdocs. The group is very diverse, split

[2015-10-03 22:37] BillMills opened #35 "Mozilla Study Group October Update"
# Welcome New Study Groups

Welcome to our newest Study Groups in [Acadia, Nova Scotia](http://acadia.r-bar.ca/) and [Institut Pasteur, Tunis](http://amelgh.github.io/IPT_Tunisia/)! More Study Groups are spooling up around the world; we'll note them here and add them to the [Study Group Map](https://github.com/mozillascience/studyGroupLessons/blob/master/whereWeAre.geojson) as their first events c

[2015-10-03 22:40] #29 closed

[2015-10-05 04:07] BillMills opened #36 "Mozilla Study Groups in Brasil"
@rodrigopadula and I were just talking about how great it would be if we could get a series of Study Groups started up around Brasil. But, we need a plan to move this forward effectively. Some rough steps we talked about:

1. Get this repo translated into Portuguese on a Portuguese branch (help wanted!). Translation of other assets like the Handbook can come later, but this repo is key.

2. Start

[2015-10-06 01:59] pcjunger commented on #36
That sounds like a great starting point @BillMills and @rodrigopadula. I'm currently approaching the end of my Masters, thus time is limiting, but I will be glad to spend all time I have left to help out with this plan.

I've contacted a few colleagues from other Universities who might be interested in founding more R study groups around Brazil. @paternogbc @ewaldoj @LucianoFSgarbi would you guys

[2015-10-06 11:39] rgaiacs commented on #36
@ctruciosm, @lbenitesanchez, @ocefpaf and @fernandomayer Do you have interest on this?

[2015-10-06 11:48] paternogbc commented on #36
Hi all,

Could you please provide more information about this idea?
What is the main aim of these study groups?

Cheers,
G

[2015-10-06 12:28] lfsgarbi commented on #36
What is the aim of this study group?

2015-10-06 8:48 GMT-03:00 Gustavo Paterno notifications@github.com:

##

Luciano F. Sgarbi
Currículo Lattes
http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4299200T7
Laboratório de Ecologia Teórica e Síntese
Departamento de Ecologia, Instituto de Ciências Biológicas V.
Universidade Federal de Goiás, campus II, Goiânia-GO, Brasil

[2015-10-06 12:40] pcjunger commented on #36
Hi @paternogbc and @LucianoFSgarbi, sorry for including you without providing further information. This idea is all about open science. You can find the general idea in the readme.md file in this repository: https://github.com/mozillascience/studyGroup

This Study Group repo is part of the Mozilla Science Lab project: https://www.mozillascience.org

I've just created a group for ecologist at UFRJ,

[2015-10-06 14:20] paternogbc commented on #36
Hi @pcjunger, thanks for the update! ;)

I will have a look, but the idea sounds very interesting.
I am very kin to open science and reproducible research.

I can start a group in my university, just need to check how the group works and what are the activities that we should organize.

All the best,
G

[2015-10-06 14:27] rgaiacs commented on #36
If people want to talk in Portuguese let me know. =)

[2015-10-06 21:11] paternogbc commented on #36
Português então. kkk Fiquei confuso pq todo mundo escreveu em inglês. Mas vamos lá.

O primeiro passo então é traduzir esse repositório para pt, certo?
Eu posso criar o "branch" inicial e começar a tradução. Alguém pode ajudar nessa tarefa?

Abraços,
Guga

[2015-10-06 21:14] paternogbc commented on #36
@BillMills should we create a portuguese branch or a fork from the original repo?

Thanks,
G

[2015-10-06 21:32] pcjunger commented on #36
hahaha..continuei escrevendo em inglês pq o cara que abriu a discussão não é brasileiro, mas uma das ideias é preparar o terreno para que as discussões possam acontecer em português tbm :-)

De qualquer forma, obrigado pelo entusiasmo! Eu posso te ajudar nessa tarefa @paternogbc, let's wait for @BillMills reply.

[2015-10-06 22:26] rodrigopadula commented on #36
Olá pessoal, desculpem-me pela demora. Estou bem enrolado com o doutorado esses dias mas vamos lá!!!

A idéia é estimular a criação de vários grupos de estudo em universidades brasileiras para que possamos desenvolver projetos, estudos e principalmente compartilha código e conteúdo através do github.  Venho conversando com o pessoal da Mozilla há algum tempo e a idéia é fazer um intercambio entre

[2015-10-06 22:29] rodrigopadula commented on #36
Conversei com o @BillMills no último domingo e concluimos que a melhor estratégia seja criar pequenos grupos em nossas universidades, amadurecer um pouco mais a idéia e daí poderemos partir para eventos e encontros regionais/nacionais. Criar um hub local entre universdades de um mesmo estado/cidade ja seria um ótimo começo. Estou atualmente na UFF mas fiz meu mestrado na UFRJ no PPGI. Então podemo

[2015-10-06 23:22] Ewaldoj commented on #36
Olá pessoal, boa noite. Também estou meio perdido, mas vou me ambientar no
site e pegar mais informações para discutir melhor.

@paternogbc, sou aluno de graduação da Ecologia (UFRN) e posso falar com
você na quinta feira, antes ou depois da sua apresentação do bioforum,
sobre esse assunto. Eu me apresento para você lá, :)
On 6 Oct 2015 6:32 pm, "Pedro C Junger" notifications@github.com wrote:

[2015-10-06 23:23] paternogbc commented on #36
Opa beleza, valeu @Ewaldoj! Nos encontramos por lá então.

[2015-10-07 01:53] katieannemills commented on #36
Hi everyone,

@paternogbc & @LucianoFSgarbi, what was said by @pcjunger is pretty much exactly correct; Study Groups are informal, community organized meetups to talk about open science, reproducible research, and the skills needed to do that. Existing Study Group activities have been:
- **Hands on demo sessions** of a tool, programming language or other technique. These are the most popular sessi

[2015-10-07 02:31] paternogbc commented on #36
Dear @BillMills,

this sounds very nice! Thanks for putting everything together!
I think we can engage a nice community in Brazil to participate in this project. I am not sure what is the best way to start this interaction (at the local or regional scale). But we will find a way.

Regarding the `portuguese` branch, I have no permission to push a remote branch on your repo. I am not sure if this is

[2015-10-07 02:56] brennovich commented on #36
@paternogbc you don't need to push directly to @BillMills' repository, instead you should fork @pcjunger's repository, develop your work under `portuguese` branch, and then create a [Pull Request](https://help.github.com/articles/using-pull-requests/) of your branch to @pcjunger's repository. After this process @pcjunger can do what @BillMills proposed :)

However, looking at this process it seems

[2015-10-07 03:03] paternogbc commented on #36
Hi @brennovich, for me it only depends on what you prefer to keep track of new groups joining the project.
I can fork @pcjunger repo and create the portuguese branch from there. No problem ;)

All the best,
G

[2015-10-07 05:24] katieannemills commented on #36
Hi @paternogbc & @brennovich,

I just created a new `portuguese` branch of the main repo - if you send a pull request against that branch, I will merge in your translation there. To do so, I think it will be easiest to fork this repo, make your translation on your `gh-pages` branch, and use the GitHub UI to set up the PR, like so:

![screen shot 2015-10-06 at 10 22 29 pm](https://cloud.githubuserc

[2015-10-07 09:02] diogoprov commented on #36
Olá! Eu também gostaria de começar um grupo de estudo. @LucianoFSgarbi posso te ajudar se quiser.

[2015-10-07 12:37] paternogbc commented on #36
@BillMills thanks!

That sounds much better!

I have created the fork [https://github.com/paternogbc/studyGroup], so we can work on the translation there.

Cheers.

[2015-10-07 12:55] diogoprov commented on #36
@paternogbc I can help with the translation as well!

[2015-10-07 13:05] paternogbc commented on #36
Nice @diogoprov!

Vamos trabalhar juntos então nesse [fork](https://github.com/paternogbc/studyGroup).
Talvez seja melhor se trabalharmos em arquivos diferentes.
Pelo que eu vi tem o arquivo [README.md](https://github.com/paternogbc/studyGroup/blob/gh-pages/README.md) e o [codeOfConduct.md](https://github.com/paternogbc/studyGroup/blob/gh-pages/codeOfConduct.md)

Não sei se tem mais arquivos para

[2015-10-07 13:35] ocefpaf commented on #36
@rgaiacs valeu pelo toque.

@BillMills I know some that people at [UFBA](https://en.wikipedia.org/wiki/Federal_University_of_Bahia) are interested in creating a study group.  I will get them involved.

Also, I can help with the translation and/or as a reviewer. @paternogbc feel free to ping me from your fork (to avoid the noise in this thread) if you need some review.

[2015-10-07 13:36] paternogbc commented on #36
@ocefpaf,
Thanks for the support! ;)

Lets move the discussion to the fork then.

All the best,
G

[2015-10-07 13:48] diogoprov commented on #36
@paternogbc eu posso ficar com o codeOfConduct.md . Não tem um issue aberto no fork, então não sei como fazer pra coordenar o trabalho lá

[2015-10-07 14:03] paternogbc commented on #36
@diogoprov Não posso criar issues nesse fork, mas você pode simplesmente editar o arquivo no meu fork. Quando terminar faça um commit e depois um pull request. ;)

Quando terminarmos as traduções a gente da um ping no pessoal para eles revisarem.

Se quiser podemos conversar por e-mail também para evitar mais mensagens por aqui.
Abs,
Guga

[2015-10-07 14:42] rgaiacs commented on #36
Great discussion.

@BillMills I suggest to have https://github.com/mozillascience/studyGroup-pt or https://github.com/mozillascience/studyGroup-portuguese or https://github.com/mozillascience/GrupoDeEstudo because it will be more easy to find by everyone. For example, someone looks at https://github.com/mozillascience/ will discovery that there is something in Portuguese without difficult and the

[2015-10-07 15:23] rodrigopadula commented on #36
Pessoal, o @BillMills  ja migrou, só traduzir o conteúdo de https://github.com/mozillascience/studyGroup/tree/portuguese

[2015-10-07 15:59] paternogbc commented on #36
Ok.. just created a fork from this branch then. @diogoprov, I am moving the repo, lets work [here](https://github.com/paternogbc/studyGroup).

I think the mailing list is a great idea. Let us know when you have that ready.

G

[2015-10-07 20:29] rodrigopadula commented on #36
Galera, não precisa criar um novo fork, só trabalhar direto na arvore em português, só traduzir direto lá. Devemos trabalhar diretamente aqui https://github.com/mozillascience/studyGroup/tree/portuguese

[2015-10-07 20:42] paternogbc commented on #36
We are going crazy :tada:

@rodrigopadula Eu não sei esse é o melhor jeito pq toda mudança que fizermos terá que ser aprovada individualmente pelo dono do repositório. Eu acho que a sugestão do Bill é mais prática. Trabalhamos no fork e quando terminarmos a tradução criamos um pull request para o branch portuguese que ele já criou.

Eu acho que isso facilita a vida do dono do repositório e podemos

[2015-10-07 20:49] rodrigopadula commented on #36
Qualquer coisa ele pode mudar permissões nessa arvore em pt nos dando acesso direto. Assim ja fazemos todos ali mesmo, o que acham? Ficar mais facil pra manter e gerir futuras atualizações.

[2015-10-07 20:52] paternogbc commented on #36
Se ele der autorização ta tranquilo.

abs
ps. Eu já comecei um parágrafo de [teste](https://github.com/paternogbc/studyGroup/commit/af3af8d1b7906e18414948772bbfc903bef7f99d), se mudarmos para o branch do Bill ai eu levo essas mudança.

[2015-10-08 02:05] katieannemills commented on #36
Thanks everyone for such a great conversation! Couple of ideas:
- @rgaiacs, I think your idea of having a Portuguese-first repo makes a lot of sense. Mozilla can give this community management rights to that repo so the Brasilian team can commit directly to it. I originally suggested a branch of the central repo, because I have a lot of infrastructure monitoring that repo (webhooks email me whenev

[2015-10-08 14:11] rgaiacs commented on #36
Please ping me to review the translation.

[2015-10-08 15:59] paternogbc commented on #36
Ok @rgaiacs ... when we finish translating the files we will ping you to review ;)

Thanks for helping.
G

[2015-10-13 15:59] katieannemills commented on #36
Hey everyone, how are things going? Check out @gabano's translation [here](http://gabano.github.io/studyGroup/). It would be good to pull everyone's hard work together into that upstream branch or fork we talked about; once everyone here agrees on a first version, we can set that up. Let me know!

[2015-10-13 16:18] katieannemills commented on #36
Also, as I just mentioned over on @gabano's repo, we're going to be having our monthly Study Group Leader's teleconference on October 30 - this would be a great chance to ask questions and meet other Study Group leaders worldwide. If you want to participate, get on [this mailing list](https://mail.mozilla.org/listinfo/msl-study-groups) - I'll be sending contact info out there before the date.

Lon

[2015-10-13 22:04] paternogbc commented on #36
Very nice @BillMills .... everyone can check and review the "CodeOfConduct" translation [here](https://github.com/paternogbc/studyGroup/blob/gh-pages/codeOfConduct.md). Thanks to @diogoprov.

I am working on the [README.md](https://github.com/paternogbc/studyGroup/blob/gh-pages/README.md) file.

Is that correct @BillMills ? Or we are translating the wrong files?

I was not sure what to translate.

[2015-10-13 23:35] gabano commented on #36
Hi everyone,
I was in a R Workshop at UFRJ and Melissa (the teacher) invited me to lead a study group for our department. Since then I've been working on a fork and trying to translate it. Also, we had our first meeting today and worked on Git and GitHub.

I didn't expect to see that much of people working on this in Brasil, and it's a nice surprise that you guys are working on _studyGroup_ transl

[2015-10-14 00:26] pcjunger commented on #36
Hi @gabano, I've met Melissa. She is from the same UBC research group of the guys who introduced the Mozilla Study Group to us at PPGE - UFRJ. :-)
I've noticed you have already translated the whole website. That's very nice! I've also noticed you started translating the README file. That's is also nice, but @paternogbc has already started working on it and we could decide a single file to work on

[2015-10-14 02:07] paternogbc commented on #36
Hi all,

the **README** file is nearly read. If anyone wants to review or help to finish the translations, please change this [file](https://github.com/paternogbc/studyGroup/blob/gh-pages/README.md).

All the best,
G

[2015-10-14 08:19] diogoprov commented on #36
Hi guys,
I'd really appreciate if someone could take a look and review my translation. @paternogbc I'll work from now on to finish the translation of the README file.

Best,
Diogo

[2015-10-15 00:54] katieannemills commented on #36
@paternogbc yes, that's perfect! Once those are translated, we will be ready to offer them as a complete translation of the website. I know we talked about doing this as a branch in the original repo, but @rgaiacs has convinced me - I think it might be easier if we make a whole new repo to house this translation. That way, users can just fork the translation they want without having to swap branch

[2015-10-15 01:18] paternogbc commented on #36
@BillMills thanks for your reply. I agree that a separate repo is the best way to do it.
We have decided to use a similar strategy in the portuguese translations of swirl courses for R. [swirl-BR](https://github.com/paternogbc/cursos_swirl-Br) where we started a fresh repo to avoid problems.

I believe we should have all translations ready by next week. Actually, we are at the revision phase. ;)
A

[2015-10-15 01:21] katieannemills commented on #36
@paternogbc - sounds good! I just asked Moz if we could host it under [their org](https://github.com/mozillascience) and give everyone here write access; I suspect there will be no problems with that, but just wanted to ask them before charging ahead. I'll let you know!

[2015-10-15 01:27] paternogbc commented on #36
Ohhh this is even better!

@BillMills thanks a lot for putting everyone together!
G

[2015-10-15 15:12] gabano commented on #36
@pcjunger   eu traduzi o conteúdo da pasta _includes

---

Everyone,

I've finished translating the contents of  /_includes and set up a `portuguese` branch for it since `gh-pages` is filled with our own studyGroup info.

Let me know for whom to push it and make the pull request.

joao.

[2015-10-15 23:01] abbycabs commented on #36
Hey all!

On advice from @alicoding, the easiest thing for translation might be to to add the translation as another directory on the gh-pages branch.  `/studyGroup/pt-br` and `/studyGroup/en`

[2015-10-15 23:03] alicoding commented on #36
I would suggest to put the locale first e.g. `/en/studyGroup/`

[2015-10-15 23:05] abbycabs commented on #36
@alicoding - that makes more sense... :)

[2015-10-16 01:20] rgaiacs commented on #36
Having two repositories is good to track the changes at the original document with Git. Just my two cents.

[2015-10-16 02:26] katieannemills commented on #36
I'm open minded to either option, but the two-repo solution lets us make the folks on this thread maintainers of their translation - though I suppose we could just assign PRs on the same repo to different maintainers. Any strong feelings? Delighted to have this community as comaintainers!

[2015-10-18 15:27] paternogbc commented on #36
Hi @BillMills and all,

Thanks a lot for all this work.
Could please give us some more information about the next steps?

I believe we now have everything translated, although we still need to integrate all files into a single repo.

Next week I will be in a rush, but after that I can continue to work on the fork.

All the best,
Guga

[2015-10-18 19:44] katieannemills commented on #36
Thanks, everyone - a few things to sort out so we can finish up:

@alicoding @acabunoc  do you have an example of your directories suggestion working with jekyll on gh-pages? I need some help understanding how to do that in a non-convoluted way. Problem is, I think that github essentially does `jekyll serve` from the root directory of the repo, so this isn't just as simple as moving everything int

[2015-10-18 20:15] brennovich commented on #36
@BillMills actually Github runs `jekyll build` everytime you update the `gh-pages` branch through **git hooks**, and then serve the generated static files.

When you guys was discussing this approach of having a `pt-br`branch I tried to explain that this approach wasn't that simple. https://github.com/mozillascience/studyGroup/issues/36#issuecomment-146064322

AFAIK the original `studyGroup`projec

[2015-10-18 20:17] brennovich commented on #36
Just found a cool blog post https://developmentseed.org/blog/multilingual-jekyll-sites/ about it

[2015-10-18 21:28] katieannemills commented on #36
@brennovich this is fantastic, thanks for looking into this! I definitely agree that using frontmatter (like in the blog post you linked) and locale files makes the most sense, now that you've walked us through it. As long as it is simple for a new group to fork the repo and set their website up in their language of choice (like by setting a single language variable in `_config.yml`, or by having

[2015-10-19 01:12] brennovich commented on #36
Awesome :)

I'll let you guys know when I get something working ;)

[2015-10-19 05:23] paternogbc commented on #36
Thanks @BillMills @rgaiacs @brennovich for organizing everything! ;)

[2015-10-26 23:15] katieannemills commented on #36
Hi folks,

Just a reminder that we're going to have our next Study Group Leader's call on **Friday, October 30 at 3 PM Rio time** - if you're thinking of starting a Study Group, this is your chance to ask questions of your fellow leaders, and see what everyone else has been doing. We'll be connecting via google hangout; the link will be posted shortly before the meeting on [this etherpad](https://

[2015-10-27 01:34] rgaiacs commented on #36
@BillMills Thanks for the invitation. Unfortunately I can't make it. =(

[2015-10-27 13:17] paternogbc commented on #36
@BillMills ... thanks for this invitation! Unfortunately I will be on a trip during this time! ;(
I will try to catch up with the brazilians that manage to attend!

[2015-11-01 17:49] katieannemills commented on #36
Hi folks - okay, I just merged in the infrastructure to support localization yml files, like @brennovich suggested. How to add a translation:
- Put your translated text for the website in a file like `_data/en.yml`, with an appropriate language prefix.
- in the top level `_config.yml`, set the `language` variable to the same prefix you chose above.

And that's it! Your website should use the text

[2015-11-02 03:25] rodrigopadula commented on #36
@BillMills https://developer.mozilla.org/en-US/docs/Implementing_Pontoon_Mozilla  can be a good way to have things localized more quickly with support from our Mozillians fellows, what do you think?

A lot of Mozilla's sites/projects was migrated to Pontoon recently.

[2015-11-02 05:10] katieannemills commented on #36
@rodrigopadula nice find! But will this infrastructure plug into a github-hosted page? It seems like a lot of engineering & dependencies compared to the local yml files @brennovich suggested - best to keep things as simple as possible!

[2015-11-02 19:57] rodrigopadula commented on #36
@BillMills probably for the study groups it dont make sense now, but for https://www.mozillascience.org/ can be a good idea to have it localized in all possible languages through Pontoon.

[2015-11-04 02:34] katieannemills commented on #36
@rodrigopadula totally - @acabunoc, pinging you to put pontoon localization for https://www.mozillascience.org/ on your radar.

Meanwhile, looking forward to `pt.yml` here - let me know if I can help!

[2015-11-04 03:15] BillMills opened #37 "Mozilla Study Groups November Update"
# Welcome New Study Groups

Welcome to our newest Study Groups at [Boston University](http://study.bu.edu/), [Rio De Janeiro (GER NUPEM/UFRJ)](http://gabano.github.io/studyGroup/), and the [University of Calgary](http://jvamosi.github.io/studyGroup/)! Also, a big welcome to our colleagues in Australia and New Zealand who recently joined us, from the [University of Melbourne](http://melbourne.resba

[2015-11-04 03:43] #35 closed

[2015-11-16 18:06] tomhohenstein opened #39 "Anyone using Gitter Sidecar?"
Hello!

I'm looking into adding [Gitter's Sidecar](https://sidecar.gitter.im/) to our Study Group website and I'm curious if anyone has already done this. It seems to work "out of the box" but I'm having on3 issue with the scrolling - only the page scrolls not the chat room.

Any thoughts?

Tom

[2015-11-16 18:17] tomhohenstein commented on #16
@BillMills Has anyone done sessions on [using Zenodo and GitHub together for DOIs](https://guides.github.com/activities/citable-code/)?

[2015-11-16 23:51] aammd commented on #16
:+1:  for that; i've tried it and loved it.

[2015-11-17 00:56] katieannemills commented on #36
Hey everyone - how's it going with that .pt yml file? Let me know if there's any way I can help out!

[2015-11-17 01:07] katieannemills commented on #16
Nope, not that I know of - it's a good topic for a lesson though; super useful, not particularly difficult, but weird enough the first time through that a walkthrough would be helpful. Let me know how it goes!

Another thing to possibly add on to this lesson: when to mint releases / DOI's? At every single possible change? Only on major changes? For every project, or more for projects intended as r

[2015-11-17 02:27] katieannemills commented on #39
Hey Tom,

We're using sidecar over at ResBaz: https://2016-02-01.resbaz.com/
(which, btw, is an awesome event everyone should check out :)

Does the resbaz site behave the same as yours? The 'open chat' tab has a
fixed position out of the box; is this not what you want?

On Mon, Nov 16, 2015 at 1:06 PM, Tom Hohenstein notifications@github.com
wrote:

##

Best Regards,
Dr. Bill Mills
TRIUMF

[2015-11-17 15:39] tomhohenstein commented on #39
Hi Bill,

re: resbaz -> very cool - thanks for sharing.

It does have the same functionality - I'm assuming scrolling up to view past conversations in sidecar is not a top priority. Curious that the demo - https://sidecar.gitter.im/ - allows scrolling within the sidecar.

[2015-11-17 15:42] tomhohenstein commented on #16
great ideas! this could be a great chance to work with @stephwright : ). I'll see what I can come up with for a lesson.

[2015-11-17 16:22] stephwright commented on #16
:+1: agree... great ideas!  We can talk about this when we chat next week, Tom!

[2015-11-18 00:23] katieannemills commented on #39
Sidecar conversations scroll up for me, in FF 41.0.2 - what browser are you using? Might be worth opening a ticket with them if the behavior isn't consistent across browsers.

[2015-11-18 17:57] tomhohenstein commented on #39
Got it to work! I added a few more lines of chat and that seemed to make it long enough for it to engage the scrolling.

thanks!

[2015-11-22 12:35] pcjunger commented on #36
Hi everyone, sorry for taking too long to reply. I've tried to follow your last steps but to be honest I'm a bit lost at moment. If I got it right we only need to put all translated files into the the new infrastructure built by @BillMills based on what @brennovich suggested. Right? @gabano @paternogbc @diogoprov  Shall we step forward? Let me know how I could be of any help!

[2015-11-22 14:23] gabano commented on #36
@pcjunger and everyone,   I made an effort to translate the en.yml file this morning. I added a pt.yml to [a fork](https://github.com/gernupem/studyGroup) from @BillMills.  I didn't use my own repo because I'm already running a StudyGroup there.

Please, check it out to see if everything is fine and for proofreading  :sweat_smile: . Just for the record, I didn't translate anything of the _config.y

[2015-11-23 00:15] smilefreak opened #41 "3 Dec: Introduction to NeSI"
Peter Maxwell from NeSI will be giving an introduction to the high performance computing (HPC) facilities they provide (free to all otago staff and students), how to use them, and may talk briefly about parallel R on a HPC.

[2015-11-23 00:16] #41 closed

[2015-11-23 00:16] theboocock commented on #41
Opps Should be on my repo sorry

[2015-11-23 12:45] paternogbc commented on #36
Hi @BillMills @gabano @pcjunger and all,

I got a bit confused about how to proceed. I am ready to help.
@gabano we could focused on the link you sent and check the pt.yml file first.
One question, what or how should we work with the [README.md](https://github.com/paternogbc/studyGroup/blob/gh-pages/README.md) and [codeOfConduct](https://github.com/paternogbc/studyGroup/blob/gh-pages/codeOfConduct

[2015-11-23 12:52] paternogbc commented on #36
I have checked the [pt.yml](https://github.com/gernupem/studyGroup/blob/gh-pages/_data/pt.yml) file from @gabano. It looks good to me! =)
@BillMills could you please suggest the next steps?
Should I add the README and codeOfConduct files to this repo? Or should we work on other files?
This will be the definitive repo for the portuguese translations?

Sorry for so many questions!

[2015-11-24 00:43] katieannemills commented on #36
Hi everyone,

Sorry for the slow reply, I've been traveling and catching up with everyone for the past couple days. Anyway, the pt.yml looks great, thanks for pulling that together! Send me a PR and we'll get that merged in right away.

@paternogbc for the README and code of conduct, it's a bit easier since they're not part of the jekyll formatting stuff; just add `README-pt.md` and `codeOfConduct

[2015-11-24 11:00] pcjunger commented on #36
Thanks @gabano! I also think the pt.yml is very well translated!
Good to see we're nearly ready with these initial steps. Looking forward to seeing mozilla study groups flourishing around Brasil!

[2015-11-24 13:49] paternogbc commented on #36
Hi @BillMills ... thats sounds great!
Just created a PR to add both README-pt.md and codeOfconduc-pt.md to the repo.
Let me know if you need any thing else!

Also looking forward to start organizing the brazilian Mozila study groups.

[2015-11-25 02:44] katieannemills commented on #36
Alright, that does it - I just merged and linked the translation files, so we are good to go for launching these sites in Portuguese! To recap, just fork this repo and in the in the top level `_config.yml`, set the `language` variable to `pt`, and everything should appear in Portuguese. Let me know if this works, and a HUGE thank-you to everyone who participated here!

Going forward, after getting

[2015-12-11 04:18] BillMills opened #43 "Mozilla Study Groups December Update"
# Welcome New Study Groups

Welcome to our newest Study Group at [Rhode Island](http://rhodyrstats.org/)! More Study Groups are spooling up around the world; we'll note them here and add them to the [Study Group Map](https://github.com/mozillascience/studyGroupLessons/blob/master/whereWeAre.geojson) as their first events come on line. Have you started a new group recently? Make sure to let us know

[2015-12-11 04:18] #37 closed

[2016-02-05 16:24] anelda opened #44 "Showing previous events"
Hi everyone, we're at the Mozilla Science WOW workshop in  Berlin and a few of us were discussing the idea that we'd like to also display previous events on the website.

Are there any plans to do that in the template or does anyone have a suggestion to go about this?

[2016-02-05 16:27] ttimbers commented on #44
We have a button ("See all events") under the events header that shows past
events for the SFU study group: http://sciprog.ca/

On Fri, Feb 5, 2016 at 8:24 AM, Anelda van der Walt <
notifications@github.com> wrote:

##

Tiffany A. Timbers, PhD
Banting Postdoctoral fellow, Leroux Lab
Department of Molecular Biology and Biochemistry
Simon Fraser University
8888 University Drive
Burnaby, BC, V5A 1S6

[2016-02-05 16:27] ttimbers commented on #44
Note - it only does this for the current year...

On Fri, Feb 5, 2016 at 8:26 AM, Tiffany Timbers tiffany.timbers@gmail.com
wrote:

##

Tiffany A. Timbers, PhD
Banting Postdoctoral fellow, Leroux Lab
Department of Molecular Biology and Biochemistry
Simon Fraser University
8888 University Drive
Burnaby, BC, V5A 1S6

604-803-4962

tiffany.timbers@gmail.com
tiffanytimbers.com
@TiffanyTimbers

[2016-02-05 16:27] katieannemills commented on #44
Can you sketch out what you'd like this to look like (like on paper)? It's
certainly possible!

On Friday, 5 February 2016, Anelda van der Walt notifications@github.com
wrote:

##

Best Regards,
Dr. Bill Mills
TRIUMF

[2016-02-05 16:36] anelda commented on #44
Thanks Tiffany, I like what you have.  Bill, something like that will be good - but even something similar to the Software Carpentry website will work - they show upcoming workshops and previous workshops. Currently if you have no upcoming events on your website it looks like you've never had anything (you'd have to go to the repo to see that there is actually some activity)

[2016-02-05 17:09] katieannemills commented on #44
Cool - @ttimbers, are the commits with that feature well-factored enough to cherry pick them onto a branch, PR them upstream and distribute from there? If they're tied up with other stuff, I can implement something like that feature upstream perhaps this weekend.

[2016-02-05 18:39] ttimbers commented on #44
I am not sure, either @brunogrande or @theavanrossum implemented this
feature (I think).

On Fri, Feb 5, 2016 at 9:09 AM, Bill Mills notifications@github.com wrote:

##

Tiffany A. Timbers, PhD
Banting Postdoctoral fellow, Leroux Lab
Department of Molecular Biology and Biochemistry
Simon Fraser University
8888 University Drive
Burnaby, BC, V5A 1S6

604-803-4962

tiffany.timbers@gmail.com
tiffanyti

[2016-02-05 20:09] katieannemills commented on #44
ok! I can implement a simple hide / show toggle for past posts in approximately the same amount of time as doing any complicated git surgery, so if the feature branch isn't obvious that might be the way to go.

[2016-02-05 21:40] BrunoGrandePhD commented on #44
I implemented the "See All Events" page. Unfortunately, that feature was implemented alongside various other visual improvements. You'll have to cherry-pick, but revert some of the updated files. See the following pull request.

https://github.com/ttimbers/studyGroup/pull/42

Also, I meant the "Past Events" section to include all past events. I tried my best, but I dislike the way Liquid handles d

[2016-02-05 21:56] katieannemills commented on #44
Sure, I'll try and cook something up soon. Thanks!

[2016-02-06 08:55] anelda commented on #44
Thanks everyone for your speedy responses! Thanks Bill :smiley:

[2016-02-06 20:54] katieannemills commented on #44
Alright - a demo of this new feature is live at http://mozillascience.github.io/studyGroup/, in the Events section.

If you like the look of this, the feature branch is `past-events` in this repo - let me know if you'd like me to help set up a pull request. Thanks everyone for your feedback and ideas!

[2016-02-09 11:50] betatim opened #46 "Broken template links"
Links to the github repo in the "How to keep informed" section of the webpage seem to be broken. This was first posted in CERNStudyGroup/cernstudygroup.github.io#7

The links are to `http://cernstudygroup.github.io/%7B%7B%20site.github.repository_url%20%7D%7D` which looks as if the `{{ site.github.repository_url }}` isn't being replaced when rendering the HTML. Related to the recent upgrade of jek

[2016-02-09 11:53] ibab opened #47 "Variables in _data/en.yml won't be expanded"
Variables like `site.github.repository_url` are used in https://github.com/mozillascience/studyGroup/blob/gh-pages/_data/en.yml, but they don't seem to be expanded. (Jekyll would need to double-expand the tags that these string go into).

Not sure how this could be solved without removing the URL from `_data` and putting it into the template directly.

[2016-02-09 11:56] ibab commented on #47
Here's a related question on StackOverflow: https://stackoverflow.com/questions/14487110/include-jekyll-liquid-template-data-in-a-yaml-variable

[2016-02-09 12:00] betatim commented on #46
This is a dupe of #47 and #47 has more info so let's move there.

[2016-02-09 12:00] #46 closed

[2016-02-09 12:12] ibab commented on #47
I've made a pull request with the StackOverflow solution I liked the most

[2016-02-17 00:35] #47 closed

[2016-02-17 00:37] #44 closed

[2016-02-19 09:25] RaoOfPhysics commented on #39
Is this something that can be added as default functionality for Study Group websites (toggled by the `yml` config file, perhaps)? Are there any disadvantages to doing so?

See https://github.com/CERNStudyGroup/cernstudygroup.github.io/issues/13

[2016-02-19 09:33] RaoOfPhysics opened #52 "RFC: Issue templates for event info / lesson suggestions"
It would be nice if issues created for upcoming Study Group events or for lesson suggestions followed a standard format, something along the lines of:

This can be implemented using GitHub's [Issue templates](https://github.com/blog/2111-issue-and-pull-request-templates).

See, for example, https://github.com/CERNStudyGroup/cernstudygroup.github.io/issues/20 (more: https://github.com/CERNStudyGrou

[2016-02-22 15:10] abbycabs commented on #52
Are all issues going to be events or lessons? I think some groups use this for discussion, too, so I'm not sure how applicable a template like this would be for each group.

Some study group leads may have more insight here! @mbonsma, @auremoser?

[2016-02-22 15:14] RaoOfPhysics commented on #52
@acabunoc: As I understand it, users are free to ignore the [templates](https://help.github.com/articles/creating-an-issue-template-for-your-repository/), so it shouldn't be a problem. But for those who want to propose an event, it would be good to stick to a format so that the org members don't have to go in and clean up all the time. :)

[2016-02-22 15:33] mbonsma commented on #52
We use separate repos for [events](https://github.com/UofTCoders/Events/issues) and [general discussion](https://github.com/UofTCoders/studyGroup/issues), so a template would be very appropriate in the Events repo in our case.

It might be nice to have a template in the handbook or something, but leave it up to individual groups to implement because needs might be different depending on the group.

[2016-02-22 16:12] auremoser commented on #52
We discussed this, sort of. I think implementing upstream would be worth investigating. i don't want top pressure people into adopting templates, but I would be cool to have a standard for a collaborative global Study Group calendar.

How do the current events work for most folks? Does everyone have a separate repo? It might make sends to give issue labels according to the type of event Hacky Hour

[2016-04-15 11:49] blahah opened #56 "Potential Pan-African study group"
There are already (at least) three study groups in Africa:

- [Tunis, Tunisia](http://amelgh.github.io/IPT_Tunisia/) run by @amelgh
- [Khartoum, Sudan](http://zo0z.github.io/studyGroup/) run by @zo0z
- [North-West University, South Africa](http://anelda.github.io/GenomicsHackyHour/) run by @anelda

Several organisations around Africa and that operate all over Africa (including H3ABionet and TrendI

[2016-04-28 20:45] tomhohenstein commented on #43
I think we can close this one : )

[2016-06-21 15:29] #19 closed

[2016-07-05 23:42] auremoser commented on #56
Thanks @blahah , super-belated but we have semi-regular checkins with @amelgh + @anelda. @zo0z would you like to be involved as well?

[2016-07-05 23:43] #32 closed

[2016-07-06 03:29] azzaea commented on #56
Absolutely! Thank you for this!

[2016-07-06 17:48] auremoser commented on #56
Great, you've been added, I'm closing this issue for the time being! :)

[2016-07-06 17:48] #56 closed

[2017-01-17 20:41] auremoser commented on #52
Way belated followup here, but we've added a [lessons template](https://github.com/mozillascience/studyGroup/blob/gh-pages/lesson-template.md), thanks @zee-moz . And it also exists as an issue template in the [Lessons Repo](https://github.com/mozillascience/studyGroupLessons) for study groups, [template here](https://github.com/mozillascience/studyGroupLessons/blob/master/ISSUE_TEMPLATE.md), which

[2017-01-17 20:41] #52 closed

[2017-01-17 20:41] #43 closed

[2017-01-17 20:44] auremoser commented on #39
Whoa, throwback Tuesday with the issue comments (sorry @RaoOfPhysics ) ...I'm not sure it's valuable as a debug in the main repo, since a separate gitter window would be feasible enough to keep open during meetups with remote participants.

I think the chat window in whatever program you use to record or video chat your sessions might be more valuable, like hangouts or vidyo. Closing this for now

[2017-01-17 20:44] #39 closed

[2017-01-17 20:46] auremoser commented on #31
This is a great poll, and thank you everyone for contributing. These responses are definitely similar to the Gitter intros that we're now pinging Study Groups to create in our [Mozilla Science SG Gitter Chat](https://gitter.im/mozillascience/studyGroup), feel free to hop in there and learn more from our distributed community, and thanks so much for your responses here!

[2017-01-17 20:46] #31 closed

[2017-01-17 20:55] auremoser commented on #16
Awesome thread, and sorry for my delayed response here. These are concepts we're evolving in the [Open Data Training Series](https://github.com/mozillascience/open-data-training) that @stephwright has authored. We're building on that curriculum over the next few months to get to match our [Open Leadership Training Series](https://github.com/mozilla/open-leadership-training-series).

Small plug for

[2017-01-17 20:55] #16 closed

[2017-01-17 20:57] auremoser commented on #11
Thanks all for your input here, I'm going through an issue closing round, as this has been a `wont fix` for some time, I'm closing the request, if you feel strongly that this is an error, please ping me and let me know, I am happy to put some time in if anyone feels passionately about redirections.

[2017-01-17 20:57] #11 closed

[2017-03-29 15:20] auremoser opened #76 "Update Portuguese README to match English"
## Context
We're trying to better localize our Study Groups introduction README for different languages.

## Description
We recently updated our [README](https://github.com/mozillascience/studyGroup/blob/gh-pages/README.md) in english, and changed much of the language associated with how to get started with Study Groups. We previously had a lovely translation in [Portuguese for the README]() but h

[2017-03-29 21:47] elionaimc commented on #76
Translation done.
Waiting someone do accept my pull request.

[2017-03-30 02:05] elionaimc commented on #76
Added portuguese translation file to lesson template.

[2017-03-30 02:17] auremoser commented on #76
Hurray! Thank you so much @elionaimc !!!!

[2017-03-30 02:17] #76 closed

[2017-04-19 13:29] rahulkrishnan98 opened #83 "Navbar scroll"
On navbar scroll, it collides with the text on the page, before the **navbar-shrink .**

[2017-04-26 22:39] #83 closed

[2017-05-21 16:04] AnamikaD opened #84 "Add Mozilla Study Group Event Link"
It would be great if the study group members can add their events on [Mozilla Study Group Event](https://mozillascience.github.io/studyGroupEvents/)! We can add the link [here](https://github.com/mozillascience/studyGroup/blob/gh-pages/_includes/portfolio_grid.html). Unfortunately, the changes are not visible. Is there any other way we can add the link or any other ideas??

[2017-05-22 17:46] #84 closed

[2019-03-30 17:43] Mozilla-GitHub-Standards opened #97 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The